/*Laptop skärm*/
.log{
    margin: 0  42%;
}

.log img {
    display: block;
} 

.headerbild{
    height: 700px;
}

.search-box{
    position: absolute;
    background: inherit;
    top: 16%;
    right: 3%;
    height: 30px;
    border-radius: 40px;
    padding: 0;
    margin-top: 0;
}

.meny-knapp {
   Display:none;
}

.site-nav a{
    position: relative;
    display: block;
    margin-left: 0px;
    transform: .2s;
    font-size: 1.25rem;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.329);
}
.site-nav{
    display: block;
    margin: 60px 0 0  0;
    position: absolute;
    width: 100;
    left: -31px;
    top: 0px;
}
.site-nav a:hover{
    transform: scale(1.02);
    background-color: rgba(180, 179, 179, 0.397);
    padding: auto;
}

.site-nav li{
    display: inline-block;
}

.container{
    /*background-color: rgb(238, 255, 0);*/
}

.site-nav ul, li {
    margin: 0 0px 0 0px;
}

.site-nav ul li:nth-child(1){
    float: left;
    margin: 0 0 0 100px ;
}

.site-nav ul li:nth-child(2){
    float: left;
    margin: 0 0 0 0% ;
}

.site-nav ul li:nth-child(3){
    float: right;
    margin: 0 100px 0 auto;
    position: relative;
}
.site-nav ul li:nth-child(4){
    float: right;
    margin: 0 0% 0 0% ;
}

.google{
    float: left;
    padding: 30px 0 0px 0 ;
}
.box .insta, .face{
    display: inline-block;
     margin: 0 auto 0px 0px;
     padding: 20px 0px 0 20%;
     font-size: 80px;
 }
 .int{
     padding: 50px 0;
     text-align: center;
 }
 

 .insta p,
 .face p{
     font-size: 17px;
 }

.info{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: cadetblue;
}
.box{
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: blue;
}

.box2{
    grid-template-columns: 33% 33% 33%;
}
.con{
    background-color: brown;
    margin: 0 0px 0px 10px;
}
.con h5 {
    background-color: chartreuse;
}

.hist{
    display: inline-block;
    background-color: burlywood;
    max-width: 100%;
    padding: 0 10%;
    margin-top: 10px;
}
.bhog {
    display: block;
    max-width: 40%;
    float: right;
    margin: 5px 10px 0px 5px;
}

.bvan {
    margin: 5px 10px 0px 10px;
    float: left;
    max-width: 40%;
}
.galleritat{
    display: none;
}
.laserinfo img{
    background-color: burlywood;
    display: inline;
    margin: 00px 0 0 0;
    padding: 0px 20px 0 20px;
    width: 100%;
}
.laser{
    background-color: cadetblue;
    grid-template-columns: 33.3% 33.4% 33.3%;
    text-align: center;
    margin-bottom: 20px;
}
.laser img{
    display: block;
    padding: 5% 5%;
    align-items: center;
}
.las2{
    padding-top: 20%;
}
.tatto{
    grid-template-columns: 100%;
}

.galleri {
    max-width: 50%;
  }

.prev, .next {
  margin: 0 -24px;
}

.col{
  padding: 0 3% 0% 3%;
}

.care img {
    background-color: cadetblue;
    margin-top: 20px;
    width: 100%;
    max-height: 50%;
  }
  .care .box{
      padding: 10px;
  }
  
  .bokning{
      background-color: rgb(130, 139, 0);
    margin: 0px 0 0 0px;
    padding: 5% 0px 0 0;
}
.columnbokning{
    background-color: darkcyan;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 3% 0 0 0;
}
.bok{
    padding: 5%;
}
.bok h6{
    font-size: 1rem;
}
 
