/* mobil vy reglerna fungerar blir innan sidan 700px */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: 'Lato';
}
body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Roboto";
}
img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Merriaeather';
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.log img{
    max-width: 150px;
    height: auto;
}


.site-nav{
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
}

.info{
    background-color: aquamarine;
}

.box{
    width: 80%;
    background-color: aqua;
    margin: 10px 10%;
}